# Dependencies
node_modules/

# Environment
.env*
!.env.example

# Build files
.next/
out/
dist/
build/

# Editor/IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local development
.DS_Store

# Add these exclusions
/prisma/pscale_CA.pem
/.env.local
/coverage/
